<!DOCTYPE html>
<html>
<head>
<title>rhetoric</title>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<style type="text/css">
body {
  font-family:'Oswald',sans-serif;
}
</style>
</head>
<body>
  <div id="title">
      <h1>rhetoric</h1>
      <a href="https://github.com/seandockray/rhetoric">?</a>
  </div>
  <div>
    <form method="post">
      <p>look for a word used in Australian Parliament (since 2006)</p>
      <input type="text" name="query" value="">
      <input type="submit" name="submit" value"submit">
    </form>
  </div>
</body>
</html>